.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.search-bar-clientes {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
}

.search-icon-clientes {
  font-size: 20px;
  margin-left: -35px;
  cursor: pointer;
  color: #333;
}

.client-list {
  list-style: none;
  padding: 0;
}

/* Add styling for CardCliente and DetalhesCliente components if needed */

