
.page-container{
  padding: 3%;
}

.titulo{
  color: #2D8ADB;
}




.search-bar-docs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 20px;
    width: 100%;
}
.search-icon-docs {
    font-size: 18px;
    margin-left: -35px;
    cursor: pointer;
    color: #333;
    margin-bottom: 10px;
  }
  input {
    
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
  }

  .novo-documento{
 
      background:#0c53dc;
      box-shadow: 3px 3px 3px rgba(65, 65, 65, 0.178);
      color: #fff;
      transition: .3s;
      border-radius: 8px;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
    
  }

  .novo-documento:hover {
    background: #0a436f; /* Azul mais escuro */
  }

.document-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

/* Adicionando estilos para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .search-bar-docs {
    width: 100%;
  }
  
  input {
    width: 100%;
  }
}

/* Adicionando estilos para dispositivos de tela pequena */
@media only screen and (max-width: 480px) {
  .novo-documento {
    width: 100%;
  }
}

/* Adicionando estilos para dispositivos de tela muito pequena */
@media only screen and (max-width: 320px) {
  .search-icon-docs {
    margin-left: -20px;
  }
}