.card-cliente {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 10px;
  max-width: 300px; /* Largura máxima do card */
  width: 100%; /* Garante que o card ocupa 100% da largura do container */
  box-sizing: border-box; /* Garante que a largura inclui padding e borda */
  justify-content: space-between;
}

.card-header {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.conteudo-cliente {
  display: flex;
  flex: 1; /* Ocupa todo o espaço disponível, exceto a área ocupada pela div da lixeira */
  cursor: pointer;
}


.card-cliente h3 + div {
  margin-left: 8px;

}


.lixeira-container {
  /* Estilos específicos para a div da lixeira */
  cursor: pointer;
}

/* Adicionando estilo para dispositivos pequenos (mobile) */
@media only screen and (max-width: 600px) {
  .card-cliente {
    max-width: 100%; /* Para dispositivos pequenos, o card ocupa 100% da largura */
  }
}
