.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o overlay está sobre os outros elementos */
}
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 300px;
    width: 100%;
    max-height: 80vh;
  }
  .buttons-container{
    display: grid;
    gap: 4%;
    margin-top: 4%;
    cursor:default;
  }
  .button-deletar{
    background: #0c53dc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
    color: #fff;
    transition: .3s;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }
  .button-deletar:hover{
    background: #0d73b8;
    color: #fff;
    transition: .3s;
  }
  .button-cancelar{
    background-color: white;
    color: black;
    border-radius: 8px;
    outline: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.185);
    margin-top: 1.5%;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }
  .button-cancelar:hover{
    background-color: white;
    color: black;
  }
  .icone{
    display: flex;
    justify-content: center;
    color: #0c53dc;
    font-size: 250%;
    cursor: default;
  }
  .textos{
    cursor:default;
  }
  .textos h3{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 115%;
    font-family: 'Inter', sans-serif;
  }
  .textos p1{
    display: flex;
    justify-content: center;
    font-size: 110%;
    font-family: 'Montserrat', sans-serif;
  }
  .textos p2{
    display: flex;
    justify-content: center;
    font-size: 90%;
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
  }
  html {
    overflow-y: scroll;
  }