.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
    z-index: 1000; /* Certifique-se de que o overlay está sobre os outros elementos */
}
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    padding-top: 20px;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    max-height: 230px;
    min-height: 230px;
  }
  .buttons-container{
    display: flex;
    gap: 4%;
    margin-top: 25px;
    cursor:default;
    justify-content: center;
  }
  .button-deletar{
    background: #0c53dc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
    color: #fff;
    transition: .3s;
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }
  .button-deletar:hover{
    background: #0a436f;
    color: #fff;
    transition: .3s;
  }
  .button-cancelar{
    background-color: white;
    color: black;
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    outline: 1px solid rgb(190, 190, 190);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.185);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: .3s;
  }
  .button-cancelar:hover{
    background-color: rgb(255, 255, 255);
    color: black;
  }
  .icone{
    display: flex;
    justify-content: center;
    color: #0c53dc;
    font-size: 250%;
    cursor: default;
  }
  .textos{
    cursor:default;
  }
  .textos h3{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 115%;
    font-family: 'Inter', sans-serif;
  }
  .textos p1{
    display: flex;
    justify-content: center;
    font-size: 110%;
    font-family: 'Montserrat', sans-serif;
  }
  .textos p2{
    display: flex;
    justify-content: center;
    font-size: 90%;
    margin-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
  }
  html {
    overflow-y: scroll;
  }