.gerar-documento{
    background: #0c53dc;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
    color: #fff;
    transition: .3s;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin-right: 10px;
}

.fechar{
    border-color: #535353;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
    color: #535353;
    transition: .3s;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin-right: 10px;
}

.formulario-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formulario {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  select,
  input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select:focus,
  input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
  }